#Letter {
  display: none;
  font-family: cursive;
  background-image: url("https://i.pinimg.com/236x/b9/3f/30/b93f306c0f4ec3ddb830fb96aa274751--photo-backgrounds-background-images.jpg");
  width: 300px;
  align-items: center;
  margin: auto;
  padding: 5px;
}
